header {
    display: FLEX;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px 5px;
    border-bottom: 1px solid #f3f4f6;
}

header .header__list {
    display: flex;
    list-style: none;
}


/* header .header__list li {} */

header .header__list li a {
    text-decoration: none;
    color: black;
    padding: 20px 15px;
}

header .header__list li.active a {
    color: #00bdd6;
    border-bottom: 3px solid #00bdd6;
    font-weight: bold;
}

header .header__search input {
    width: 300px;
    padding: 10px 33px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #f3f4f6;
    outline: none;
    border: none;
    letter-spacing: 1px;
}

header .header__search {
    position: relative;
}

header .header__search i {
    font-size: 14px;
    position: absolute;
    top: 12px;
    left: 12px;
}

header .header__image {
    margin-left: 20px;
}

.body {
    padding: 50px 200px;
}

.title p {
    color: #9095a0;
}

.title span {
    color: black;
}

.title p,
.title span {
    letter-spacing: 1px;
}

.title .title__rate img {
    margin-right: 5px;
}

.title .title__rate span:first-of-type {
    font-weight: bold;
}

.title .title__star {
    margin-bottom: 7px;
}

.title h1 {
    font-size: 60px;
    margin: 0 0 20px;
}

.title .title__tools .title__save {
    margin-left: 40px;
}

.title .title__image {
    display: flex;
    justify-content: space-between;
}

.title .title__image .title__image__left {
    margin-right: 10px;
}