header {
    display: FLEX;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px 5px;
    border-bottom: 1px solid #f3f4f6;
}

header .header__list {
    display: flex;
    list-style: none;
}


/* header .header__list li {} */

header .header__list li a {
    text-decoration: none;
    color: black;
    padding: 20px 15px;
}

header .header__list li.active a {
    color: #00bdd6;
    border-bottom: 3px solid #00bdd6;
    font-weight: bold;
}

header .header__search input {
    width: 300px;
    padding: 10px 33px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #f3f4f6;
    outline: none;
    border: none;
    letter-spacing: 1px;
}

header .header__search {
    position: relative;
}

header .header__search i {
    font-size: 14px;
    position: absolute;
    top: 12px;
    left: 12px;
}

header .header__image {
    margin-left: 20px;
}

.body {
    padding: 50px 200px;
}

.title p {
    color: #9095a0;
}

.title span {
    color: black;
}

.title p,
.title span {
    letter-spacing: 1px;
}

.title .title__rate img {
    margin-right: 5px;
}

.title .title__rate span:first-of-type {
    font-weight: bold;
}

.title .title__star {
    margin-bottom: 7px;
}

.title h1 {
    font-size: 60px;
    margin: 0 0 20px;
}

.title .title__tools .title__save {
    margin-left: 40px;
}

.title .title__image {
    display: flex;
    justify-content: space-between;
}

.title .title__image .title__image__left {
    margin-right: 10px;
}

.description .description__content {
    display: flex;
    margin-top: 40px;
}

.description .description__content .description__left {
    width: 70%;
    padding-right: 50px;
    color: #323842;
}

.description .description__content .description__right {
    width: 30%;
}

.description .description__content .description__left h1 {
    font-size: 27px;
    margin: 0;
}

.description .description__content .description__left p {
    letter-spacing: 1px;
    line-height: 20px;
    font-weight: 100;
    font-size: 15px;
    margin-bottom: 5px;
}

.description .description__content .description__left .description__list ul {
    margin-top: 25px;
    list-style: none;
    padding: 0;
}

.description .description__content .description__left .description__list ul li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 45px;
}

.description .description__content .description__left .description__list ul li img {
    margin-right: 10px;
}

.description .description__content .description__right {
    padding: 20px 25px;
    border: 1px solid #f3f4f6;
}

.description .description__content .description__right h1 {
    text-align: end;
    margin: 0 0 20px;
    font-size: 35px;
    color: #00bdd6;
    font-weight: bold;
}

.description .description__content .description__right .description__item input {
    width: 90%;
    padding: 10px 15px;
    margin-bottom: 15px;
    background-color: #f3f4f6;
    border: none;
    outline: none;
}

.description .description__content .description__right .description__item {
    position: relative;
}

.description .description__content .description__right .description__item i {
    position: absolute;
    right: 10px;
    top: 10px;
}

.description .description__content .description__right .description__item input::placeholder {
    color: black;
}

.description .description__content .description__right .description__detail {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.description .description__content .description__right .description__detail span:first-of-type {
    color: #9095a0;
}

.description .description__content .description__right .description__detail span:last-of-type {
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 17px;
}

.description .description__content .description__right .description__button button {
    width: 100%;
    margin-bottom: 15px;
}

.description .description__content .description__right .description__button button {
    background-color: white;
    color: #00bdd6;
    border: 1px solid #00bdd6;
    padding: 10px 0;
    font-size: 17px;
    border-radius: 5px;
    outline: none;
}

.description .description__content .description__right .description__button.button__blue button {
    background-color: #00bdd6;
    color: white;
}